/node_modules
/public/hot
/public/storage
/storage/app/public/*
/storage/debugbar/*
/storage/logs/*
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*
/vendor
/tests
/.idea
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/package.json
/composer.lock
/.editorconfig
