/node_modules
/public/hot
/public/storage
/public/uploads
/storage
/vendor
/tests
/database
/.idea
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
storage
