/* CSS Document */
ul,ol,li,p,h1,h2,h3,h4,h5,form,table,td,img,div,a,dl,dt,dd,p{margin:0;padding:0;border:0;}
body,select,input{padding:0;margin:0;text-align:left;font-size:12px;}
body{font-size:14px;font-family:"微软雅黑"; }
ul,li,ol{list-style-type:none;}
input{outline:none;}
img{vertical-align:middle;}
table{border-collapse:collapse;}
a img{border:none;}
a{color:#333;text-decoration:none; cursor:pointer;}
a:hover{ text-decoration:underline;}
.clear{ clear:both;}
.cl:after{ content:""; display:block;visibility:hidden; height:0; clear:both;}
.cl{ clear:both; overflow:hidden;zoom:1;}
.fl{float:left; display:inline;}
.fr{float:right; display:inline;}
/*common end*/
.wy_container{ width:1200px; margin:0 auto; overflow:hidden;zoom:1;}
.wy_banner{ height:600px; overflow:hidden; position:relative;}
#full-screen-slider { width:100%; height:600px; float:left; position:relative; overflow:hidden;}
#slides { display:block; width:100%; height:600px; list-style:none; padding:0; margin:0; position:relative}
#slides li { display:block; width:100%; height:100%; list-style:none; padding:0; margin:0; position:absolute}
#slides li a { display:block; width:100%; height:100%; text-indent:-9999px}
#pagination { display:block; list-style:none; position:absolute; left:50%; top:500px; z-index:-99;  padding:5px 15px 5px 0; margin:0}
#pagination li { display:block; list-style:none; width:10px; height:10px; float:left; margin-left:15px; border-radius:5px; background:#FFF; overflow:hidden;zoom:1; }
#pagination li a { display:block; width:100%; height:100%; padding:0; margin:0;  text-indent:-9999px;}
#pagination li.current { background:#076CE0}
.wy_imgs{ position:absolute; width:1200px; height:61px; margin:auto; z-index:10000; display:block; left: 0; bottom:0; right: 0;}
.wy_imgs a{ float:left; width:200px; height:61px; position:relative; overflow:hidden;zoom:1;}
.wy_imgs a img{ width:200px; height:61px;}
.wy_imgs a span{ position:absolute; background:url(../images/icon02.png) no-repeat left center; left:80px; color:#fff; padding-left:15px; top:15px;}
.wy_head{ height:90px; overflow:hidden;zoom:1;}
.wy_logo{ float:left; width:240px; height:90px;display: flex;align-items: center;justify-content: center}
.wy_logo img{max-width: 100%;max-height: 100%}
.g-wrap {position:relative; margin:0 auto; width:1200px; height:100%; overflow:hidden;}
#header {position:relative; z-index:5; height:90px; float:left; width:770px;}
    #nav {position:absolute; top:0; left:0; z-index:4; height:100%; overflow:hidden;}
    #nav li {float:left; height:100%; -webkit-transition:background-color 700ms; transition:background-color 700ms; background:url(../images/icon01.png) no-repeat right bottom;}
	#nav li:last-child{ background:none;}
    #nav .n1 {width:70px;}
    #nav .n2, #nav .n3, #nav .n4, #nav .n5, #nav .n6, #nav .n7, #nav .n8 {width:100px;}
    #nav li a {position:relative; z-index:2; display:block; width:100%; height:100%; font-size:16px; line-height:90px; text-align:center; color:#555; -webkit-transition:color 200ms; transition:color 200ms; font-weight:normal;}
    #nav li a.on {color:#fff;}
    #nav li a span {position:absolute; left:0; top:0; z-index:2; width:100%; height:100%;}
    #nav li a .bkg {top:100%; z-index:1; background-color:#E62B1E; -webkit-transition:top 200ms; transition:top 200ms;}
    #nav li a.on .bkg,
    #nav li a:hover .bkg {top:0;}
#nav li a:hover{color: #FFF}
#content {position:relative; overflow:hidden;}
    #subNav {position:absolute; top:0; left:0px; z-index:9999; width:100%; height:60px; /*overflow: hidden;*/}
    #subNav .g-wrap {overflow:visible;}
    #subNav .g-wrap .item {position:absolute; top:-100%; width:100%; height:100%; background-color:#4c4a4f; overflow:hidden; -webkit-transition:top 300ms; transition:top 300ms;}
    #subNav .g-wrap .about {left:310px; padding:0 30px; }
    #subNav .g-wrap .news {left:410px; padding:0 30px;}
    #subNav .g-wrap .relation {left:610px; padding:0 30px;}
    #subNav .g-wrap .service {left:510px; padding:0 30px;}
    #subNav .g-wrap .citizenship {left:710px; padding:0 30px;}
    #subNav .g-wrap .on {top:0; z-index: 2;}
    #subNav .g-wrap .item a {float:left; padding:0 16px; font-size:14px; line-height:60px; color:#d2ced5;-webkit-transition:color 300ms; transition:color 300ms;}
    #subNav .g-wrap .item a:hover {color:#E62B1E;}
    #subNav .g-wrap .item #on { color: #E62B1E;}
.wy_search{ float:right; width:175px; height:50px; margin-top:20px;}
.wy_text01{ background:#D4D4D4; border:none; height:22px; width:105px; padding:0 10px; display:inline-block; float:left; margin-top:14px; border-radius:11px;}
.wy_but01{ background:url(../images/search.png) no-repeat; width:50px; height:50px; float:left; border:none; cursor:pointer;}
.wy_foot{ background:#496475; height:120px; overflow:hidden;zoom:1;}
.wy_ful01{ float:left; width:800px; overflow:hidden;zoom:1; font-size:12px; line-height:26px; font-size:12px; color:#fff; margin-top:20px;}
.wy_ful01 li{ float:left; margin-right:20px;}
.wy_ful01 li.wy_li01{ width:290px;}
.wy_ful01 li.wy_li02{ width:240px;}
.wy_ful01 li.wy_li03{ width:160px;}
.wy_fimgs{ float:right; width:400px; text-align:right; font-size:12px; color:#fff;}
.wy_fimgs div{ float:right; width:110px; height:85px; margin-top:18px; margin-left:40px; overflow:hidden;zoom:1;}
.wy_fimgs div span{ float:left; width:18px; text-align:center; line-height:12px;}
.wy_fimgs div img{ width:85px; height:85px;}
.wy_content01{ position:relative; float:left; margin-top:30px; height:230px; width:439px; padding-right:20px; border-right:#F6F6F6 solid 1px; overflow:hidden;zoom:1;}
.wy_content02{ position:relative; float:left; margin-top:30px; height:230px; width:459px; padding:0 20px; border-right:#F6F6F6 solid 1px; overflow:hidden;zoom:1;}
.wy_content03{ position:relative; float:left; margin-top:30px; height:230px; width:220px; padding-left:20px; overflow:hidden;zoom:1;}
.wy_title01{ overflow:hidden;zoom:1; margin-bottom:10px; line-height:30px; height:30px;}
.wy_title01 a{ font-size:18px; color:#333;}
.wy_title01 span{ font-size:14px; display:inline-block; margin-left:8px; color:#AEAEAE; text-transform:uppercase;}
.wy_more{ position:absolute; bottom:30px; color:#353551; font-size:12px; text-transform:uppercase; background:url(../images/icon03.png) no-repeat left center; padding-left:20px; height:15px; line-height:15px;}
.wy_map{ overflow:hidden;zoom:1; text-align:center;}
.wy_ul01{ font-size:14px; line-height:30px;}
.wy_ul01 a{ color:#666; overflow:hidden;zoom:1; width:459px; overflow:hidden;zoom:1; display:block; white-space:nowrap; text-overflow:ellipsis;}
.wy_ul01 a span{ font-size:12px; color:#969696; width:75px; float:left; display:inline-block;}
.wy_dl01 dt a{color:#353551; font-size:15px; display:block; margin-bottom:5px;}
.wy_dl01 dd{ font-size:12px; line-height:22px; text-indent:2em; color:#858585; margin-top:5px;}
/*index.html*/
.wy_bg01{ background:url(../images/bg01.png) no-repeat center top; height:92px; overflow:hidden;zoom:1;}
.wy_title02{ text-align:right;line-height:92px; height:92px; vertical-align:middle;}
.wy_title02 img{ padding-top:32px;}
.wy_line01{ border-bottom:#EAEAEA solid 1px; height:78px; overflow:hidden;zoom:1;}
.wy_title03{ width:850px; float:left;overflow:hidden;zoom:1; font-size:14px; height:48px; line-height:48px;  margin-top:30px;}
.wy_title03 a{ margin-right:30px; padding:0 5px; display:inline-block; float:left; height:48px; line-height:48px;}
.wy_title03 a:hover,.wy_title03 a.wy_now01{ background:url(../images/icon04.png) repeat-x center bottom; text-decoration:none;}
.wy_title04{ float:right; width:350px; overflow:hidden;zoom:1; text-align:right; font-size:14px; line-height:48px; height:48px; margin-top:30px; color:#333;}
.wy_title04 a{ color:#333;}
.wy_title04 img{ vertical-align:middle; display:inline-block; margin-right:5px;}
.wy_line02{ background:url(../images/icon05.png) repeat-y 878px top; padding-top:25px; padding-bottom:50px;}
.wy_left01{ float:left; width:858px; overflow:hidden;zoom:1;}
.wy_right01{ float:right; width:300px; overflow:hidden;zoom:1;}
.wy_pic01{ margin-bottom:20px;}
.wy_page{text-align:center; margin:30px auto;}
.wy_page a{ background:#F2F2F2; font-size:12px; padding:0px 12px; line-height:25px;display:inline-block; margin:0 1px; color:#333;}
.wy_page a:hover,.wy_page a.wy_a02{color:#fff; background:#474747;}
.wy_dls01{ overflow:hidden;zoom:1;}
.wy_dls01 dl{ float:left; width:272px; margin-right:0px; overflow:hidden;zoom:1; height:240px; margin-right:21px; margin-bottom:20px;}
.wy_dls01 dl.wy_mr01{ margin-right:0px;}
.wy_dls01 dt{ width:272px; height:200px; overflow:hidden;zoom:1; margin-bottom:5px;}
.wy_dls01 dt img{ width:272px; height:200px;}
.wy_dls01 dd{ text-align:center; font-size:14px; line-height:35px;}
.picshow { margin: 10px auto; width: 840px;}

#picarea {
	margin: 0px auto; width: 840px;
}
#bigpicarea {
	position: relative; margin: 0px auto; width: 700px; height:450px; overflow: hidden
}
.image {
	text-align: center; height:400px;
}
.image img { width:700px; height:400px;}
#bigpicarea .word {
	text-align: center; height: 50px; color: #333
}
#bigpicarea .word h3 {
	text-align: center; line-height: 48px; height: 48px; color: #333; font-size: 18px; font-weight:normal;
}
#bigpicarea .ui-els-hide {
	display: none
}
#thumbs {
	list-style-type: none; margin: 0px auto; width: 840px; height: 80px
}
* html #thumbs {
	height: 100%
}
#thumbs li {
	margin: 0px 7px; width: 90px; display: inline; float: left; height: 60px
}
#thumbs ul {
	margin-top: 3px
}
#thumbs li.last_img {
	margin-right: 4px
}
#thumbs li.first {
	margin: 25px 10px 0px 15px; width: 9px; height: 16px; cursor: pointer
}
#thumbs li.last {
	margin: 25px 10px 0px 15px; width: 9px; height: 16px; cursor: pointer
}
#thumbs li a {
	border-bottom: #fff 2px solid; border-left: #fff 2px solid; width: 90px; display: block; font-size: 0px; border-top: #fff 2px solid; border-right: #fff 2px solid
}
#thumbs li a:hover {
	border-bottom: #000 2px solid; border-left: #000 2px solid; border-top: #000 2px solid; border-right: #000 2px solid
}
#thumbs li a.current {
	border-bottom: #f8ae0f 2px solid; border-left: #f8ae0f 2px solid; border-top: #f8ae0f 2px solid; border-right: #f8ae0f 2px solid
}
#thumbs li.first img { }
#thumbs li.last img { }
.bigbtnprev {
	z-index: 100; position: absolute; width: 35px; height: 51px; top:170px; cursor: pointer; left: 30px
}
.bigbtnnext {
	z-index: 100; position: absolute; width: 35px; height: 51px; top: 170px; cursor: pointer; right: 30px
}
#big_play_prev {
	background-image: url(../images/leftbig.png); width: 35px; display: block; height: 51px; _background: none; _filter: progid:dximagetransform.microsoft.alphaimageloader(sizingmethod=crop,src='../images/leftbig.png')
}
#big_play_next {
	background-image: url(../images/rightbig.png); width: 35px; display: block; height: 51px; _background: none; _filter: progid:dximagetransform.microsoft.alphaimageloader(sizingmethod=crop,src='../images/rightbig.png')
}
#smallpicarea {
	margin: 0px auto; width: 840px; border-top: #ececec 1px solid; padding-top: 20px
}
.wy_bq{ text-align:center; margin-top:10px; margin-bottom:30px; font-size:16px; color:#666;}
.wy_bq span{ font-size:14px; display:inline-block; padding:2px 12px; margin:0 2px; border:#eee solid 1px; cursor:pointer;}
.wy_bq span:hover{ background:#496475; border:#496475 solid 1px; color:#fff;}
.wy_name01{ text-align:center; font-size:24px; line-height:50px; color:#333;}
.wy_sx{ overflow:hidden;zoom:1; margin:50px auto;}
.wy_pre{ float:left; width:400px; background:url(../images/icon07.png) no-repeat left center; display:inline-block; padding-left:20px; font-size:14px; color:#666;}
.wy_next{ float:right; width:400px; background:url(../images/icon08.png) no-repeat right center; display:inline-block; padding-right:20px; font-size:14px; color:#666; text-align:right;}
.wy_div01{ overflow:hidden;zoom:1; margin-bottom:20px; padding-bottom:20px; border-bottom:#E8E8E8 solid 1px; height:220px;}
.wy_name02{ height:35px; line-height:35px; font-size:18px;}
.wy_div01 dl{ height:185px; overflow:hidden;zoom:1;}
.wy_div01 dt{ float:left; width:290px; height:185px; overflow:hidden; margin-right:18px;}
.wy_div01 dt img{ width:290px; height:185px;}
.wy_div01 dd{ float:right; width:550px; font-size:14px; line-height:30px; color:#666;}
.wy_div01 dd a{ display:block; border:#ddd solid 1px; color:#D70000; width:95px; height:28px; text-align:center; line-height:28px; margin-top:15px; font-size:14px;}
.wy_name03{ font-size:22px; line-height:30px; margin-bottom:10px;}
.wy_wraps p{ font-size:14px; color:#666; line-height:30px; text-indent:2em;}
.wy_lxfs{ border:#EAEAEA solid 1px; padding:15px 20px; font-size:16px; line-height:36px; color:#666; margin-top:30px;}
.wy_jituan{ font-size:14px; line-height:34px; color:#555;}
.wy_jituan p{ text-indent:2em;}
.wy_jituan p span{ font-size:16px; color:#EA6E78;}
.wy_name04{ color:#4B4B4B; font-size:22px;}
.wy_name05{ color:#4B4B4B; font-size:16px; text-transform:uppercase; margin-bottom:5px;}
.wy_blank01{ height:20px;}
.wy_zzry{ margin-top:30px; background:#F1EFF2; height:350px; overflow:hidden;zoom:1; margin-right:10px;}
.wy_zzry img{ float:right; width:220px; height:350px;}
.wy_ps01{ margin:20px; width:590px; overflow:hidden;zoom:1;}
.wy_ps01 p{ text-indent:0em; font-size:12px; line-height:30px; color:#716869;}
.wy_tc{ text-align:center;margin:20px auto;}
.wy_jhyj{ background:url(../images/pic08.jpg) no-repeat center top; height:280px; width:775px; padding:45px 35px; margin:20px auto;}
.wy_jhyj p{ width:470px; text-indent:2rem}
.wy_name06{ border-bottom:#EAEAEA solid 1px; font-size:22px; line-height:50px; text-transform:uppercase; color:#4B4B4B; padding:0 5px;}
.wy_name06 span{ color:#666; font-size:20px; display:inline-block; margin-left:10px;}
.wy_map01{ overflow:hidden;zoom:1; margin:20px auto; position:relative;width:835px; height:280px;}
.wy_map01 img{ width:835px; height:280px;}
.wy_wz{ position:absolute; right:20px; top:50px; padding:20px; background:url(../images/icon09.png); overflow:hidden;zoom:1; font-size:12px; line-height:26px; color:#333;}
.wy_wz strong{ font-weight:normal; font-size:18px; display:block; margin-bottom:5px;}
.wy_wz span{ display:inline-block; margin-right:20px; color:#666;}
.wy_jtcy{ border-bottom:#E8E8E8 solid 1px; overflow:hidden;zoom:1; margin:50px auto 20px; font-size:16px; line-height:34px;}
.wy_jtcy a{ display:inline-block; margin-right:40px; color:#333;}
.wy_jtcy a:hover,.wy_jtcy a.wy_now02{ color:#E62B1E; text-decoration:none;}
.wy_contacts p{ font-size:14px; line-height:30px; color:#666;}
.wy_tab01{ width:850px; margin:20px auto; overflow:hidden;zoom:1; color:#333;}
.wy_tab01 td{ border:#EAEAEA solid 1px; padding:20px 15px;}
.wy_tab01 td img{ width:100%;}
.wy_tab01 td div{ font-size:16px; line-height:34px; margin:0 10px;}
.wy_tab01 td div span{ font-size:18px; display:block; margin-bottom:5px;}
.wy_tab01 td p{ font-size:16px; line-height:34px; margin:0 10px; text-indent:2em;}
.wy_dls02{ overflow:hidden;zoom:1;}
.wy_dls02 dl{ margin-bottom:20px; padding-bottom:20px; border-bottom:#F0F0F0 solid 1px; height:125px; overflow:hidden;zoom:1;}
.wy_dls02 dl:last-child{ border-bottom:none;}
.wy_dls02 dl dt{ float:left; width:190px; height:125px; overflow:hidden; zoom:1; margin-right:18px;}
.wy_dls02 dl dt img{ width:190px; height:125px;}
.wy_dls02 dl dd{ float:left; width:650px;}
.wy_dd01{ overflow:hidden;zoom:1; font-size:14px; color:#666; line-height:30px;}
.wy_dd01 a{ float:left; width:520px; display:inline-block; color:#000; overflow:hidden;zoom:1; white-space:nowrap; text-overflow:ellipsis;}
.wy_dd01 span{ float:right; text-align:right; width:120px; font-size:12px;}
.wy_dd02{ font-size:14px; line-height:26px; color:#666;}
.wy_dd02 a{display:block; border:#ddd solid 1px; color:#496475; width:95px; height:28px; text-align:center; line-height:28px; margin-top:15px; font-size:14px; float:right;}
.wy_name07{ text-align:center; font-size:24px; line-height:50px; margin-top:20px; color:#333;}
.wy_name08{ text-align:center; font-size:12px; line-height:20px; margin-bottom:20px; padding-bottom:10px; color:#888; border-bottom:#E8E8E8 solid 1px;}
.wy_name08 span{ display:inline-block; margin:0 20px;}
.wy_ps02{ overflow:hidden;zoom:1; padding-bottom:50px; margin-bottom:30px; border-bottom:#e8e8e8 solid 1px;}
.wy_ps02 p{ font-size:16px; line-height:40px; margin-bottom:5px; color:#666; text-indent:2em;}
.wy_xgyd{ overflow:hidden;zoom:1; margin-bottom:50px;}
.wy_xgyd ul{ float:left; width:600px;}
.wy_xgyd ul li{ font-size:16px; line-height:40px;}
.wy_xgyd ul li a{ color:#666;}
.wy_share01{ float:right; width:220px;}
.wy_dls03{ overflow:hidden;zoom:1;}
.wy_dls03 dl{ float:left; width:201px; height:180px; border:#F3F3F3 solid 1px; margin-right:15px; margin-bottom:20px; overflow:hidden;zoom:1; text-align:center;}
.wy_dls03 dl.wy_mr02{ margin-right:0px;}
.wy_dls03 dt{ margin:10px; overflow:hidden;zoom:1;}
.wy_dls03 dt img{ width:181px; height:120px;}
.wy_dls03 dd{ font-size:14px; margin-top:10px;}


















